*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.content{
    height: 100vh;
    width: 100vw;
    background-color: #282727;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1f1e1e;
    color: white;
}
#download{
    background-color:#4CAF50 ;
    padding: 15px 32px;
    text-align: center;
    transition: background-color 0.3s ease;
}
#download:hover{
    background-color: #45a049;
}
.pdf{
    /* background-color: black; */
    width: 595px;
    height: 842px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    border: 2px solid;
    margin: 30px auto;
    background-color: white;
}
.border{
    border: 2px solid;
    height: 90%;
    width: 90%;
}
input{
    border: none;
    width: 100%;
}
::placeholder {
    color: black;
    opacity: 1;
    text-align: center;
}
.logo{
    align-items: center;
    height: 10em;
}
.logo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 10em;
    width: auto;
}
.submitted{
    display: flex;
    justify-content: center;
}
